.btn-signin {
  background-color: #FB5D30;
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  margin: 15px 0;
  font-weight: bold;
  justify-content: center;
  border: 1px solid #FB5D30;
}

.btn-signin:hover {
  background-color: white;
  color: #FB5D30;
}

.btn-face {
  color: white;
  background: #316BFE;
  border-radius: 5px;
  width: 100%;
  height: 45px;
}

.btn-face:hover {
  color: white;
}

.btn-google {
  color: black;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  border: 1.4px solid #333333;
}

.email-icon {
  width: 50px;
  padding: 0 10px;
}

.linkSignin {
  cursor: pointer;
  color: #FB5D30;
}