.pricing {
  width: 100vw;
  height: 100vh;
  background-image: url('/images/bg2.jpg');
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

.pricing-filter {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgb(0,0,0), rgba(0,0,0, .4) 40%, rgba(0,0,0, .4) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-card__container {
  width: 110rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}