.pricing {
  width: 100vw;
  height: 100vh;
  background-image: url('/images/bg2.jpg');
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-top: 4rem;
}

.pricing__fix-width {
  width: 110rem;
}

.pricing-filter {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgb(0,0,0), rgba(0,0,0, .4) 40%, rgba(0,0,0, .4) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.pricing-card__container {
  width: 110rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pricing-container2 {
  width: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1500px) {
  .pricing__fix-width {
    width: 90rem;
  }
}

@media screen and (max-width: 450px) {
  .pricing {
    overflow-y: scroll;
  }

  .pricing-container2 {
    width: 30rem;
    top: 8rem;
    padding-bottom: 5rem;
    transform: translate(-50%, 0);
  }

  .pricing-card__container {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
