.header {
  background-image: url('/images/bg2.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100%;
}

.pre-header {
  height: 100vh;
  background-color: white;
}

.row {
  height: 100%;
}

.home-title {
  font-size: 5rem;
  color: white;
}

.home-subtitle {
  font-size: 1.5rem;
  color: white;
  width: 70%;
}

.btn-header {
  background-color: #FB5D30;
  color: white;
  font-weight: bold;
}

.btn-header:hover {
  background-color: white;
  color: #FB5D30;
}

@media screen and (max-width: 768px) {
  .header{
      background-position: 60%;
      clip-path: polygon(0 0, 100% 0, 100% 82%, 0 93%);
  }
  .home-title {
    font-size: 3rem;
  }
  
  .home-subtitle {
    font-size: 1.2rem;
    width: 90%;
  }
}
