.footer {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.15);
  height: 70px;
}


.foot-img img { 
  width: 4rem;
}

.footer-text {
  font-size: 1.1rem !important;
  color: #BDBDBD;
  text-decoration: none;
  text-align: center;
}

.active span, img{
  color: orange;
}

a:hover{
  text-decoration: none;
}