.card-bg {
  background-image: url('/images/places.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 16rem;
  border-left: 15px solid #FF8514;;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);

}

.card-place {
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.4%, #000000 100%);
  border-bottom-right-radius: 10px;
}

.card-place p {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 2%;
}

.card-place h4 {
  font-weight: 900;
  font-size: 2rem;
  line-height: 21px;
  color: #FFFFFF;
  position: absolute;
  bottom: 15%;
  left: 2%;
}


.card-bg-desk {
  background-image: url('/images/places.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 20rem;
  border-left: 15px solid #FF8514;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);

}


