
.btn-face {
  color: white;
  background: #316BFE;
  border-radius: 5px;
  width: 100%;
  height: 45px;
}

.btn-face:hover {
  color: white;
}

.btn-google {
  color: black;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  border: 1.4px solid #333333;
}

.icos-fac {
  width: 12px;
  height: 20px;
  justify-content: flex-end;
  display: flex;
}

.icos-goo {
  width: 20px;
  height: 20px;
  justify-content: flex-end;
  display: flex;
}

.btn-textface {
  position: absolute;
  left: 42%;
}

.btn-textgoog {
  position: absolute;
  left: 43%;
}

.line {
  margin: 2rem 0;
}

.lineGray {
  width: 100%;
  border: gray solid 0.5px;
  height: 0.01px;
  position: relative;
}

.textLine {
  position: absolute;
  background-color: white;
  padding: 1%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn-login {
  background-color: #FB5D30;
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  margin: 15px 0;
  font-weight: bold;
  justify-content: center;
  border: 1px solid #FB5D30;
}

.mousePointer {
  cursor: pointer;
  color: #FB5D30;
}

.btn-login:hover {
  background-color: white;
  color: #FB5D30;
}

.linkSignin {
  cursor: pointer;
  color: #FB5D30;
}

.alert {
  width: 100%;
}